In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools 
from collections import Counter
from itertools import chain

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
#data.sample(5)

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [136]:
answers = {} # создадим словарь для ответов

In [4]:
"""Создаем столбик 'profit' с прибылью или убытком"""

data['profit']=data['revenue']-data['budget']   


"""Преобразование строчных данных с разделителем  '|' в списки""" 

data['genres']=data['genres'].str.split('|')
data['director']=data['director'].str.split('|')
data['cast']=data['cast'].str.split('|')
data['production_companies']=data['production_companies'].str.split('|')

#data.sample(5)

# 1. У какого фильма из списка самый большой бюджет?

In [137]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'   # +

In [127]:
"""Переменной max_budget присваиваем значение максимума из столбца 'budget'"""

max_budget=data['budget'].max()  

"""Выводим название фильма с максимальным бюджетом"""

display(data[data['budget'] == max_budget]['original_title'].iloc[0])

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [128]:
"""Обращаюсь к сводной таблице со статистикой 'describe'и получаю максимальное значение по бюджету"""

describe=data.describe() 
max_budget2=describe.loc['max']['budget'] 

"""Вывожу название фильма с максимальным бюджетом"""

display(data[data['budget'] == max_budget2]['original_title'].iloc[0])

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [138]:
answers['2'] = '2. Gods and Generals' # +

In [126]:
max_duration=data['runtime'].max()

display(data[data['runtime'] == max_duration]['original_title'].iloc[0])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [139]:
answers['3'] = '3. Winnie the Pooh' # +

In [125]:
min_duration=data['runtime'].min()

display(data[data['runtime'] == min_duration]['original_title'].iloc[0])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [140]:
answers['4'] = '2. 110' # +

In [20]:
"""Обращаюсь к сводной таблице со статистикой 'describe'и получаю среднее значение 
по длительности. Дополнительно округляем ответ."""

round(describe.loc['mean']['runtime'])

110.0

# 5. Каково медианное значение длительности фильмов?

In [141]:
answers['5'] = '1. 107'  # +

In [22]:
"""Обращаюсь к сводной таблице со статистикой 'describe'и получаю среднее значение по длительности. 
Дополнительно округляем ответ."""

round(describe.loc['50%']['runtime'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [142]:
answers['6'] = '5. Avatar' # +

In [124]:
max_profit=data['profit'].max()

display(data[data['profit'] == max_profit]['original_title'].iloc[0])

'Avatar'

# 7. Какой фильм самый убыточный?

In [143]:
answers['7'] = '5. The Lone Ranger'  # +

In [123]:
min_profit=data['profit'].min()

display(data[data['profit'] == min_profit]['original_title'].iloc[0])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [144]:
answers['8'] = '1. 1478' # +

In [31]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [145]:
answers['9'] = '4. The Dark Knight' # +

In [121]:
# Находим максимальное значение сборов за 2008 год.

max_revenue_2008=data[data['release_year'] == 2008]['revenue'].max() 

# Находим название фильма по значению этих сборов.

display(data[data['revenue'] == max_revenue_2008]['original_title'].iloc[0])

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [146]:
answers['10'] = '5. The Lone Ranger' # +

In [122]:
min_profit_12_14=data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014) ]['profit'].min()

display(data[data['profit']==min_profit_12_14]['original_title'].iloc[0])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [147]:
answers['11'] = '5. Drama' # +

In [106]:
genres=data['genres'].explode() # Серию с вложенными списками превращаем в серию с обычными данными.

display(genres.value_counts().index[0]) # Производим подсчет количества разных жанров и выбираем самый первый ответ

'Drama'

ВАРИАНТ 2

In [107]:
genres2 = pd.Series(np.concatenate(data.genres)).value_counts()   

display(genres2.index[0])

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [148]:
answers['12'] = '1. Drama' # +

In [64]:
"""Получаем серию с жанрами фильмов с прибылью больше нуля""" 

profit_genres=data[data['profit']>0]['genres'].explode()  

display(genres.value_counts().index[0])

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [149]:
answers['13'] = '5. Peter Jackson' # +

In [84]:
"""Работаем с колонками с именами режиссеров и кассовые сборы. 
Добавляем новые строчки из вложенных списков режиссеров и дублируем значение 
сборов для таких записей с помощью метода .explode()"""

data_dir=data[['director','revenue']].explode('director')

revenue_sum=data_dir.groupby(by=['director']).sum() # Группируем записи по режиссерам и суммируем сборы

"""Ищем режиссера с максимальным суммарным кассовым сбором"""

print(revenue_sum[revenue_sum['revenue'].max()==revenue_sum['revenue']].index[0])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [150]:
answers['14'] = '3. Robert Rodriguez' # +

In [92]:
"""Работаем с колонками с именами режиссеров и жанрами. 
Добавляем новые строчки из вложенных списков режиссеров и дублируем
значение жанров для таких записей с помощью метода .explode()"""

data_dir=data[['director','genres']].explode('director') 

data_dir=data_dir.explode('genres') # Повторяем для столбца с жанрами.

"""Теперь у нас есть датафрейм вида "один режиссер" - "один жанр""""

"""Выбираем режиссеров, которые снимали фильм в стиле Action и считаем кол-во повторений"""

display(data_dir[data_dir['genres']=='Action']['director'].value_counts().index[0])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [151]:
answers['15'] = '3. Chris Hemsworth' # +

In [97]:
"""Работаем с колонками с именами актеров и сборами. Добавляем новые строчки из вложенных 
списков актеров и дублируем значение сборов для таких записей с помощью метода .explode()
"""
data_2012=data[data['release_year']==2012][['cast','revenue']].explode('cast')

revenue_sum=data_2012.groupby(by=['cast']).sum() # Группируем записи по актерам и суммируем сборы

"""Ищем актера с максимальным суммарным кассовым сбором"""

print(revenue_sum[revenue_sum['revenue'].max()==revenue_sum['revenue']].index[0])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [152]:
answers['16'] = '3. Matt Damon' # +

In [100]:
"""Выбираем актеров из фильма с бюджетом выше среднего"""

cast=data[data['budget']>data['budget'].mean()]['cast']

"""Преобразуем серию списков актеров в серию с актерами"""

cast=cast.explode()

"""Подсчитваем, сколько раз встречаются имена актеров и выбираем первого из списка"""

display(cast.value_counts().index[0])

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [112]:
"""Работаем с колонками с именами актеров и жанрами. Добавляем новые строчки из вложенных 
списков актеров и дублируем значения жанров для таких записей с помощью метода .explode()"""

cast=data[['cast','genres']].explode('cast') 

"""Повторяем для столбца с жанрами"""

cast=cast.explode('genres') 

"""Теперь у нас есть датафрейм вида "один актер" - "один жанр".
Выбираем жанры, в которых снимался Nicolas Cage, считаем кол-во повторений и выбираем первый"""

display(cast[cast['cast'] == 'Nicolas Cage']['genres'].value_counts().index[0])

'Action'

In [153]:
answers['17'] = '2. Action'  # +

# 18. Самый убыточный фильм от Paramount Pictures

In [154]:
answers['18'] = '1. K-19: The Widowmaker' # +

In [216]:
"""Работаем с колонками с компаниями и прибылью. 
Добавляем новые строчки из вложенных списков компаний и дублируем
значение прибыли для таких записей с помощью метода .explode()"""

profit=data[['production_companies','profit']].explode('production_companies') 

"""Теперь у нас есть датафрейм вида "один компания" - "одна прибыль"
Находим все значения прибыли для компании Paramount Pictures и ищем минимум"""

min_profit=profit[profit['production_companies']=='Paramount Pictures']['profit'].min() 

"""Находим по значению"""

display(data[data['profit'] == min_profit]['original_title'].iloc[0])

'K-19: The Widowmaker'


# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [155]:
answers['19'] = '5. 2015' # +

In [175]:
"""Группируем по годам, суммируем кассовый сбор"""

revenue=data.groupby(by='release_year')['revenue'].sum()

"""Сортируем по кассовым сборам и выбираем индекс первого из списка"""

display (revenue\
         .sort_values(ascending=False)\
         .index[0])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [171]:
answers['20'] = '1. 2014' # +

In [204]:
"""Работаем с колонками с компаниями и прибылью. 
Добавляем новые строчки из вложенных списков компаний и дублируем значение прибыли 
для таких записей с помощью метода .explode()"""

profit=data[['production_companies','profit','release_year']].explode('production_companies') 

"""Выбираем записи, в которых содержится название компании Warner Bros"""

profit_warner=profit[profit['production_companies'].str.contains('Warner Bros')]

"""Группируем по годам, суммируя прибыль и выводим отсортировав по убыванию. Первая строчка - наш ответ."""

display (profit_warner.groupby(by='release_year')['profit']\
         .sum()\
         .sort_values(ascending=False)\
        .index[0])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [157]:
answers['21'] = '4. Сентябрь' # +

In [213]:
"""Столбец с датой разбиваю на колонки со значением месяца, дня, года"""

date=data['release_date'].str.split('/',expand=True)

"""Переименуем столбцы"""

date.columns = ['m','d','y']

""" Подсчитаем количество фильмов по месяцам"""

month_count = date['m'].value_counts() 

"""В первом в списке месяце и вышло больше всего фильмов"""

display(month_count.index[0])

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [158]:
answers['22'] = '2. 450' # +

In [159]:
"""Используя результат выше, легко посчитать количество фильмов за 3 месяца"""

sum_count= month_count['6'] + month_count['7'] + month_count['8']

print(sum_count)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [163]:
answers['23'] = '5. Peter Jackson' # +

In [212]:
"""Столбец с датой разбиваю на колонки со значением месяца, дня, года"""

date=data['release_date'].str.split('/',expand=True)

"""Переименуем столбцы"""

date.columns = ['m','d','y']

date['director']=data['director']

"""Приведем к виду "один режиссер" -  "одна дата"""

date=date.explode('director')

"""Сформируем датафрейм с зимними месяцами"""

winter_movies=date[date['m'].isin(['1','2','12'])]

"""Отсртируем по режиссерам с подсчетом кол-ва фильмов и выберем первого из результата"""

display(winter_movies\
        .groupby(['director'])\
        .agg('count')\
        .sort_values(by='m', ascending=False)\
        .index[0])

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [162]:
answers['24'] = '5. Four By Two Productions' # +

In [181]:
"""Работаем с колонками с названием и компаниями"""

df=data[['original_title','production_companies']].copy()

"""Добавляем столбец с длиной названия"""

df['title_len']=df['original_title'].apply(lambda x:len(x))

"""Приводим таблицу к виду 1 компания - 1 фильм"""

df=df.explode('production_companies')

"""Сортируем компании по среднему значению длин фильмов и выводим название первой компании"""

display(df\
        .groupby(['production_companies'])\
        .agg('mean')\
        .sort_values(by='title_len', ascending=False)\
        .index[0])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [164]:
answers['25'] = '3. Midnight Picture Show'# +

In [217]:
"""Работаем с колонками с описаниями и компаниями"""

df=data[['overview','production_companies']].copy()

"""Добавляем столбец с кол-вом слов в описании"""

df['overview_words']=df['overview'].apply(lambda x:len(x.split()))  

"""Приводим таблицу к виду 1 компания - 1 описание"""

df=df.explode('production_companies')

"""Сортируем компании по среднему значению кол-ва слов в описании и выводим название первой компании"""

display(df.groupby(['production_companies'])\
        .agg('mean')\
        .sort_values(by='overview_words', ascending=False)\
        .index[0])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [165]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

In [179]:
#data.info()
"""В таблице всего 1889 фильмов. 1% - это примерно 19 фильмов.
Выводим первые 19 фильмов, отсортированных по рейтингу.
"""

display(data[['original_title', 'vote_average']]\
        .sort_values('vote_average', ascending=False)\
        .head(19))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [166]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

In [11]:
"""Работаем со списком списков актеров"""
actor_list=list(data['cast'])
pairs=[]

"""Сгенерируем пары актеров из фильмов и запишем отдельный список pair"""

for cast in actor_list:
    cast.sort()
    
    for pair in itertools.combinations(cast, 2):
        pairs.append(pair)
        
df = pd.Series(pairs)

"""Подсчитаем количество повторений пар"""

display(df.value_counts())

(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
                                      ..
(Allison Mackie, Angelina Jolie)       1
(Dave Bautista, Vin Diesel)            1
(Jeff Daniels, Matt Damon)             1
(Anna Kendrick, Vera Farmiga)          1
(David Denman, Rebecca Hall)           1
Length: 17943, dtype: int64

ВАРИАНТ 2

# Submission

In [176]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '5. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '24': '5. Four By Two Productions',
 '23': '5. Peter Jackson',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [218]:
# и убедиться что ни чего не пропустил)
len(answers)

27